.list-view .scroll-bar:horizontal {
    -fx-pref-height: 20px;
    -fx-padding: .1px -2px -2px -2px;
    -fx-border-insets: 0 -1px 0 0;
    -fx-background-insets: 0 -1px 0 0;
}

.list-view .scroll-bar:vertical {
	-fx-pref-width: 20px;
	-fx-padding: -2px 0px;
	-fx-border-insets: -2px 0px;
	-fx-background-insets: -2px 0px;
}

.list-view .scroll-bar:vertical:override .thumb {
	-fx-background-insets: 0 -2px 0 0;
	-fx-border-insets: 0 -2px 0 0;
	-fx-padding: 0 -2px 0 0;
	-fx-background-color: transparent;
	-fx-border-color: transparent;
}

.list-view .scroll-bar:vertical:override .track {
	-fx-background-color: derive(gray,-10%);
}

.list-view .scroll-bar:horizontal .increment-button,
.list-view .scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
	-fx-background-radius: 0em;
	-fx-padding: 0 0 10 0;
}

.list-view .scroll-bar:vertical .increment-button,
.list-view .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
	-fx-background-radius: 0em;
	-fx-padding: 0 10 0 0;
}

.list-view .scroll-bar .increment-arrow,
.list-view .scroll-bar .decrement-arrow {
	-fx-shape: " ";	
	-fx-padding: 0;
}

.list-view .scroll-bar:vertical .track {
	-fx-background-insets: 0 -2px 0 0;
	-fx-border-insets: 0 -2px 0 0;
	-fx-padding: 0 -2px 0 0;
}

.list-view .scroll-bar:horizontal .track,
.list-view .scroll-bar:vertical .track {
     -fx-background-color: derive(gray,50%);
     -fx-border-color: black;
	 -fx-background-radius: 0em;
}

.list-view .scroll-bar:vertical .thumb {
	-fx-background-insets: 0 -2px 0 0;
	-fx-border-insets: 0 -2px 0 0;
	-fx-padding: 0 -2px 0 0;
}

.list-view .scroll-bar:horizontal .thumb {
	-fx-background-insets: 0 0 0 0;
}

.list-view .scroll-bar:horizontal .thumb,
.list-view .scroll-bar:vertical .thumb {
    -fx-background-color: derive(gray,-10%);
	-fx-background-radius: 0em;
	-fx-border-color: black;
}

.list-view .corner {
	-fx-padding: 0 4px 0 0;
	-fx-background-insets: 2.1px -1px -1px 2px;
	-fx-background-color: derive(gray,50%);
}

.list-cell {
	-fx-font-size: 14.0;
	-fx-font-family: "Consolas";
	-fx-text-fill: black;
	-fx-padding: 0 0 10 0;
	-fx-focus-color: transparent;
}

.list-cell:filled:selected:focused:even, .list-cell:filled:selected:even {
    -fx-background-color: transparent;
    -fx-text-fill: black;
}

.list-cell:filled:selected:focused:odd, .list-cell:filled:selected:odd {
    -fx-background-color: transparent;
    -fx-text-fill: black;
}

.list-cell:even, .list-cell:odd {
    -fx-background-color: transparent;
}

#delete {
	-fx-border-color: white;
	-fx-background-image: url("file:./res/delete.png");
	-fx-background-size: stretch;
}

.button {
	-fx-background-radius: 0;
	-fx-background-insets: 0, 0, 0;
}

.button:focused {
	-fx-background-radius: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-insets: 0, 0, 0;
}